<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="application/javascript" src="http://code.angularjs.org/1.4.4/angular.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("search", "1");
    </script>
</head>
<body>

<div ng-app="imgApp" ng-controller="imgController">
    <input type="text"  ng-model="searchTerm" style="width: 50%;"  placeholder="Enter search term...">
    <input type="button" ng-click="ggetImages()" value="Search Google Knowledge Graph">
</div>

<script src="js/imageSearch.js"></script>
</body>
</html>